<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">FIO</th>
        <th scope="col">Address</th>
        <th scope="col">Grade</th>
        <th scope="col">Edit</th>
        <th scope="col">Remove</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.fio }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.grade }}</td>
        <td>
          <button class="nav-text" (click)="editEmployee(employee.id)">EDIT</button>
        </td>
        <td>
          <button class="nav-text" (click)="removeEmployee(employee.id)"> REMOVE</button>
        </td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/addemployee">
      <span class="nav-text">Add employee</span>
    </a>
  </div>
</div>
