<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">FIO</th>
        <th scope="col">Address</th>
        <th scope="col">Grade</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.fio }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.grade }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
