<div class="card">
  <div class="card-body table-responsive pb-0">
    <h4>Сотрудники</h4>
    <table class="table  table-bordered table-striped">
      <thead class="thead-dark">
      <tr class="align-middle text-center">
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Адрес</th>
        <th scope="col">Уровень</th>
        <th scope="col">Изменить</th>
        <th scope="col">Удалить</th>
      </tr>
      </thead>
      <tbody>
      <tr class="align-middle text-center" *ngFor="let employee of employees">
        <td>{{ employee.id }}</td>
        <td>{{ employee.fio }}</td>
        <td>{{ employee.address }}</td>
        <td>{{ employee.grade.name }}</td>
        <td>
          <button class="btn btn_pro" routerLink="/editemployee/{{employee.id}}">Изменить</button>
        </td>
        <td>
          <button class="btn btn_base" (click)="removeEmployee(employee.id)"> Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="add_task_button card-body pt-0">
    <button class="btn btn_pro" routerLink="/addemployee"><span class="nav-text">Добавить сотрудника</span></button>
  </div>
</div>
