<div class="card">
  <div class="card-body" [hidden]="!(is_login==false)">
    <td class="td_form">
      <button type="button" (click)="onManagerBtnClick()" class="btn btn_pro">Войти как менеджер</button>
      <button type="button" (click)="onEmployeeBtnClick()" class="btn btn_base">Войти как сотрудник</button>
      
    </td>
    <select name="employee"  [(ngModel)]="currentEmployeeId"
              class="form-control"
              id="employee"
              placeholder="Выберите сотрудника"
              (change)="currentEmployeeCHanged($event)">
        <option *ngFor="let employee of employees" value="{{ employee.id }}">{{ employee.fio }}</option>
      </select>
  </div>
  
</div>
