<div class="card">
  <div class="card-body table-responsive pb-0">
    <h4>Задачи</h4>
    <table class="table table-bordered  table-striped">

      <thead class="thead-dark" >
      <tr class="align-middle text-center">
        <th scope="col">#</th>
        <th scope="col">Название</th>
        <th scope="col">Приоритет</th>
        <th scope="col">Время выполнения</th>
        <th scope="col">Условие 1</th>
        <th scope="col">Условие 2</th>
        <th scope="col">Изменить</th>
        <th scope="col">Удалить</th>
      </tr>
      </thead>
      <tbody>
      <tr class="align-middle text-center" *ngFor="let taskType of tasksType">
        <td>{{ taskType.id }}</td>
        <td>{{ taskType.name }}</td>
        <td>{{ taskType.priority }}</td>
        <td>{{ taskType.timeReq }}</td>
        <td>{{ taskType.condition1 }}</td>
        <td>{{ taskType.condition2 }}</td>
        <td>
          <button class="btn btn_pro" routerLink="/editTaskType/{{taskType.id}}">Изменить</button>
        </td>
        <td>
          <button class="btn btn_base" (click)="removeTaskType(taskType.id)"> Удалить</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>
  <div class="add_task_button card-body pt-0">
    <button class="btn btn_pro" routerLink="/addTaskType"><span class="nav-text">Добавить тип задач</span></button>
  </div>
</div>
