<div class="card">
  <div class="card-body table-responsive">
    <div>
      <button class="btn btn_pro" (click)="formTasks()" [disabled]="tasksFormed">
        Сформировать задачи на сегодня
      </button>
      <p>

      </p>
    </div>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr class="align-middle text-center">
        <th scope="col">#</th>
        <th scope="col">ФИО</th>
        <th scope="col">Задача</th>
        <th scope="col">Адрес</th>
        <th scope="col">Число</th>
        <th scope="col">Результат</th>
        <th scope="col">Доп. информация</th>
      </tr>
      </thead>
      <tbody>
      <tr class="align-middle text-center" *ngFor="let taskLog of taskLogs">
        <td>{{ taskLog.id }}</td>
        <td>{{ taskLog.employee.fio }}</td>
        <td>{{ taskLog.taskType.name }}</td>
        <td>{{ taskLog.bank.address }}</td>
        <td>{{ taskLog.taskSetDate | slice:0:10 }}</td>
        <td>
          <p class = "text-success" [hidden]="taskLog.completed.toString()=='false'">Выполнено</p>
          <p class = "text-danger" [hidden]="taskLog.completed.toString()=='true'">Не выполнено</p>
        </td>
        <td>{{ taskLog.commentary }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
