<div class="card">
  <div class="card-body">
      <div class="form-group">
        <div class="form-group">
        <label for="employee">Сотрудник</label>
        <select name="employee"  [(ngModel)]="currentEmployeeId"
                class="form-control"
                id="employee"
                placeholder="Выберите сотрудника"
                (change)="currentEmployeeCHanged($event)">
          <option *ngFor="let employee of employees" value="{{ employee.id }}">{{ employee.fio }}</option>
        </select>
      </div>
        <div class="container form-group">
            <ya-map [center]="[45.051607, 38.979532]" [zoom]="12">
              <ya-placemark
                [geometry]="[45.051610, 38.979532]"
                [properties]="placemarkPropertiesHigh"
                [options]="placemarkHigh"
              ></ya-placemark>
              <ya-placemark
                [geometry]="[45.041607, 38.979432]"
              [properties]="placemarkPropertiesMid"
              [options]="placemarkMid"
              ></ya-placemark>
              <ya-placemark
                [geometry]="[45.061507, 38.979534]"
                [properties]="placemarkPropertiesLow"
                [options]="placemarkLow"
              ></ya-placemark>
              <ya-control
                type="RoutePanel"
                [parameters]="parameters"
              ></ya-control>
            </ya-map>
        </div>
        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Задача</th>
            <th scope="col">Адрес</th>
            <th scope="col">Результат</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taskLog of taskLogs">
            <td>{{ taskLog.id }}</td>
            <td>{{ taskLog.taskType.name }}</td>
            <td>{{ taskLog.bank.address }}</td>
            <td>{{ taskLog.completed }}</td>
          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
