<div class="card">
  <div class="card-body">
      <div class="form-group">
        <div class="form-group">
        <label [hidden]="(is_login==2)" for="employee">Сотрудник</label>
        <select [hidden]="(is_login==2)" name="employee"  [(ngModel)]="currentEmployeeId"
                class="form-control"
                id="employee"
                placeholder="Выберите сотрудника"
                (change)="currentEmployeeChanged($event)">
          <option *ngFor="let employee of employees" value="{{ employee.id }}">{{ employee.fio }}</option>
        </select>
      </div>
        <div class="container form-group">
            <ya-map [center]="[45.051610, 38.979532]" [zoom]="12">
              <ya-multiroute
                [referencePoints]="points"
                [options]="{routeActiveStrokeColor: 'ff0000'}"
              ></ya-multiroute>
            </ya-map>
        </div>

        <table class="table table-bordered table-striped">
          <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Задача</th>
            <th scope="col">Адрес</th>
            <th scope="col">Результат</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let taskLog of taskLogs; let rowIndex = index">
            <td>{{ taskLog.id }}</td>
            <td>{{ taskLog.taskType.name }}</td>
            <td>{{ taskLog.bank.address }}</td>
<!--            <td>{{ taskLog.completed }}</td>    [hidden]="(taskLog.completed!='true')"  [hidden]="(taskLog.completed!='true')"-->
            <td ><input type="checkbox" [(ngModel)]="isChecked[rowIndex]" [disabled]="((rowIndex-1>=0)&&(taskLogs[rowIndex-1].completed.toString()=='false'))" (change)="checkValue(rowIndex, taskLog.id, isChecked[rowIndex]?'true':'false')" /></td >

<!--            <td ><input id="cur_res_complete" type="checkbox" onclick="this.checkResChanging(false, taskLog.id)" checked ></td>-->
<!--            <td [hidden]="(taskLog.completed!='false')"><input id="cur_res_uncomplete" type="checkbox" onclick="this.checkResChanging(true, taskLog.id)" [hidden]="(taskLog.completed!='false')"></td>-->
            <!--<td>{{ taskLog.result }}</td>-->

          </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
