<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Страничка менеджера</title>
</head>
<body>
<h2 th:inline="text">Менеджер <span th:remove="tag" sec:authentication="name">thymeleaf</span>!</h2>
<br>
<form th:action="@{/users}" method="get">
    <input type="submit" value="Получить список соотрудников"/>
</form>
<br>
<form th:action="@{/points}" method="get">
    <input type="submit" value="Получить список точек"/>
</form>
<br>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>