<div class="card">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #bankForm="ngForm">
      <div class="form-group">
        <label for="address">Адрес точки</label>
        <input type="text" [(ngModel)]="bank.address"
               class="form-control"
               id="address"
               name="address"
               placeholder="Введите адрес точки"
               required #address="ngModel">
      </div>
      <div [hidden]="!address.pristine" class="alert alert-danger">Введите адрес точки</div>
      <div class="form-group">
        <label for="registrationDate">Точка зарегистрирована</label>
        <select name="registrationDate" [(ngModel)]="bank.registrationDate"
                class="form-control"
                id="registrationDate"
                placeholder="Выберите когда зарегистрирована точка"
                required #registrationDate="ngModel">
          <option value="Давно">Давно</option>
          <option value="Недавно">Недавно</option>
        </select>
      </div>
      <div [hidden]="!registrationDate.pristine" class="alert alert-danger">Введите когда зарегистрирована точка</div>
      <div class="form-group">
        <label for="materialsDelivered">Материалы доставлены</label>
        <input type="checkbox" [(ngModel)]="bank.materialsDelivered"
               class="form-control"
               id="materialsDelivered"
               name="materialsDelivered"
               placeholder="Материалы доставлены"
               required #materialsDelivered="ngModel">
      </div>
<!--      <div [hidden]="!materialsDelivered.pristine" class="alert alert-danger">Needs to input card materials</div>-->
      <div class="form-group">
        <label for="lastCardIssuanceDays">Последняя карта доставлена</label>
        <input type="number" [(ngModel)]="bank.lastCardIssuanceDays"
               class="form-control"
               id="lastCardIssuanceDays"
               name="lastCardIssuanceDays"
               placeholder="Сколько дней назад доставлена последняя карта"
               required #lastCardIssuanceDays="ngModel">
      </div>
      <div [hidden]="!lastCardIssuanceDays.pristine" class="alert alert-danger">Введите когда доставлена последняя карта</div>
      <div class="form-group">
        <label for="approvedApplicationsNum">Количество одобренных заявок</label>
        <input type="number" [(ngModel)]="bank.approvedApplicationsNum"
               class="form-control"
               id="approvedApplicationsNum"
               name="approvedApplicationsNum"
               placeholder="Введите количество одобренных заявок"
               required #approvedApplicationsNum="ngModel">
      </div>
      <div [hidden]="!approvedApplicationsNum.pristine" class="alert alert-danger">Введите количество одобренных заявок</div>

      <div class="form-group">
        <label for="issuanceCardsNum">Количество выданных карт</label>
        <input type="number" [(ngModel)]="bank.issuanceCardsNum"
               class="form-control"
               id="issuanceCardsNum"
               name="issuanceCardsNum"
               placeholder="Введите количество выданных карт"
               required #issuanceCardsNum="ngModel">
      </div>
      <div [hidden]="!issuanceCardsNum.pristine" class="alert alert-danger">Введите количество выданных карт</div>

      <button type="submit" [disabled]="!bankForm.form.valid"
              class="btn btn-info">Добавить</button>
    </form>
  </div>
</div>
