<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #bankForm="ngForm">
      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" [(ngModel)]="bank.address"
               class="form-control"
               id="address"
               name="address"
               placeholder="Input address"
               required #address="ngModel">
      </div>
      <div [hidden]="!address.pristine" class="alert alert-danger">Needs to input address</div>
      <div class="form-group">
        <label for="registrationDate">registrationDate</label>
        <input type="text" [(ngModel)]="bank.registrationDate"
               class="form-control"
               id="registrationDate"
               name="registrationDate"
               placeholder="Input registrationDate"
               required #registrationDate="ngModel">
      </div>
      <div [hidden]="!registrationDate.pristine" class="alert alert-danger">Needs to input registrationDate</div>
      <div class="form-group">
        <label for="materialsDelivered">Card materials</label>
        <input type="text" [(ngModel)]="bank.materialsDelivered"
               class="form-control"
               id="materialsDelivered"
               name="materialsDelivered"
               placeholder="Input card materials"
               required #materialsDelivered="ngModel">
      </div>
      <div [hidden]="!materialsDelivered.pristine" class="alert alert-danger">Needs to input card materials</div>
      <div class="form-group">
        <label for="lastCardIssuanceDays">Last card issued</label>
        <input type="text" [(ngModel)]="bank.lastCardIssuanceDays"
               class="form-control"
               id="lastCardIssuanceDays"
               name="lastCardIssuanceDays"
               placeholder="Input last card issued"
               required #lastCardIssuanceDays="ngModel">
      </div>
      <div [hidden]="!lastCardIssuanceDays.pristine" class="alert alert-danger">Needs to input last card issued</div>
      <div class="form-group">
        <label for="approvedApplicationsNum">Approved application num</label>
        <input type="text" [(ngModel)]="bank.approvedApplicationsNum"
               class="form-control"
               id="approvedApplicationsNum"
               name="approvedApplicationsNum"
               placeholder="Input approved application num"
               required #approvedApplicationsNum="ngModel">
      </div>
      <div [hidden]="!approvedApplicationsNum.pristine" class="alert alert-danger">Needs to input approved application num</div>

      <div class="form-group">
        <label for="issuanceCardsNum">Card issued num</label>
        <input type="text" [(ngModel)]="bank.issuanceCardsNum"
               class="form-control"
               id="issuanceCardsNum"
               name="issuanceCardsNum"
               placeholder="Input card issued num"
               required #issuanceCardsNum="ngModel">
      </div>
      <div [hidden]="!issuanceCardsNum.pristine" class="alert alert-danger">Needs to input card issued num</div>

      <button type="submit" [disabled]="!bankForm.form.valid"
              class="btn btn-info">Edit</button>
    </form>
  </div>
</div>
